{% extends 'base.html' %}
{% block contenido %}

    <div class="card-body booklist">
        {% if books.has_other_pages %}
            <ul class="pagination">
            <p>Mostrando {{books.start_index}}-{{books.end_index}} de {{books.paginator.count}}</p>
            {% if books.number > 2 %}
              <li><a href="?page=1">&laquo;</a></li>
              <li><a href="?page=1">1</a></li>
              <li class="disabled"><span>...</span></li>
            {% endif %}

            {% if books.has_previous %}
              <li><a href="?page={{ books.previous_page_number }}">{{books.previous_page_number}}</a></li>
            {% endif %}
            
            <li class="active"><span>{{ books.number }} <span class="sr-only">(current)</span></span></li>
            
            {% if books.has_next %}
              <li><a href="?page={{ books.next_page_number }}">{{books.next_page_number}}</a></li>
            {% endif %}
 
            {% if books.number < books.paginator.num_pages|add:"-1" %}
                <li class="disabled"><span>...</span></li>
                <li><a href="?page={{books.paginator.num_pages}}">{{books.paginator.num_pages}}</a></li>
                <li><a href="?page={{books.paginator.num_pages}}">&raquo;</a></li>
            {% endif %}
            </ul>
        {% endif %}
 

        {% for book in books %}

            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <a href="{{ book.bookURL }}">
                        <img class="img-responsive" src={{ book.coverURL }} alt="prewiew">
                    </a>
                </div>
                <div class="col-xs-4 col-md-8">
                    <a href="{{ book.bookURL }}">
                        <h4 class="product-name"><strong>{{ book.title }}</strong></h4>
                    </a>
                    <h5>
                        {{ book.author }}
                    </h5>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ book.id }}" role="button"
                       aria-expanded="false" aria-controls="collapse{{ book.id }}">
                        Ver resumen
                    </a>
                    {% if request.session.loggedId != None and request.session.loggedId != -1 %}
                    <a href="/book/rating/?q={{book.id}}" class="btn btn-primary" role="button">
                        Puntuar
                    </a>
                    {% endif %}
                    <div class="collapse" id="collapse{{ book.id }}">
                        <div class="card card-body">
                            <h4>
                                <small>{{ book.synopsis }}</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-2">
                    <h4>Datos del libro</h4>
                    <p>
                        <small>Encuadernación: {{ book.binding }}</small>
                    </p>
                    <p>
                        <small>Categoría: {{ book.category }}</small>
                    </p>
                    <p>
                        <small>Número de páginas: {{ book.npages }}</small>
                    </p>
                    <p>
                        <small>Idioma: {{ book.language }}</small>
                    </p>
                </div>
            </div>
            <hr>
            
        {% empty %}
            <h2> No tenemos ningún libro almacenado en la base de datos </h2>
        {% endfor %}
        
    </div>
{% endblock %}